<style>
body{
  background-color:#ffcc66
}
table, th, td {
   border: 1px solid black;
}

</style>


<h1>Duration totals</h1>
   <table class >
      <thead>   
         <th> Provider</th>
          <th>The total call Duration for each Provider(seconds)</th>
          <th>Over roll total</th>
        </thead>
	{{#results}}
		<tr>
			<td> {{provider}} </td>
      <td> {{sub_total1}}{{sub_total2}}{{sub_total3}}</td>
      <td>{{overRollTotal}}</td>
		</tr>
	{{/results}}
</table>
 
 
