<!-- <h1>duration sub-total</h1>
   <table class>
      <thead>   
         <th> Provider</th>
          <th>Sub-Totals </th>
        </thead>
	{{#bills}}
		<tr>
			<td width="75%"><h3>{{provider}} </td width="30%" > 
      <td> {{sub_total1}}{{sub_total2}}{{sub_total3}}</h3> </td>
		</tr>
	{{/bills}}
</table> -->
 
 
{{#bills}}
    <p>{{provider}}</p>
  {{/bills}}

<!-- <!DOCTYPE html>
<html>
<body>

<script src="h.js">
</script>
{{#bills}}
    <p>{{sub_total1}}</p>
  {{/bills}}


</body>
</html>
